*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
}
.bg{
background-image: url(img2.jpg);
width:100%;
height: 80vh;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-attachment:fixed;
}
.btn:hover{
background-color: blue;
transition: ease-in-out .4s;
}
ul li a:hover{

    background-color: crimson;
}
.login-bg{
background-color: limegreen;

}